data/videos/**/*.mp4
data/videos/**/*.mov
data/videos/**/*.avi
data/videos/**/*.mkv
!data/frames/**/.gitkeep
!data/videos/**/.gitkeep

results/**/*
!results/**/.gitkeep

data/labels/manual/*.xlsx

models/checkpoints/**
!models/checkpoints/.gitkeep

.ipynb_checkpoints/
*.log

*.xlsx
*.csv

test.py